Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

feat: layer setup
  frontend/src/components/Card/CardTitle/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/SingleMultiLayer.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: single layer setup
  docker-compose.yml
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerAccordionTitle.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerTable.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/SingleMultiLayer.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

fix(#834): enhance and fix UI issues (#842)
  frontend/src/__test__/components/OpeningDetails/OpeningSummary.test.tsx
  frontend/src/__test__/components/OpeningRow.test.tsx
  frontend/src/__test__/components/OpeningStatusTag.tsx
  frontend/src/__test__/components/StatusTag.test.tsx
  frontend/src/components/OpeningDetails/OpeningOverview/styles.scss
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningStatusTag/constants.ts
  frontend/src/components/OpeningStatusTag/index.tsx
  frontend/src/components/OpeningTableRow/index.tsx
  frontend/src/components/StatusTag/definitions.ts
  frontend/src/components/StatusTag/index.tsx
  frontend/src/components/StatusTag/styles.scss
  frontend/src/styles/default-components.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#804): add OPENING_ID to PROPERTYNAME
  backend/src/main/java/ca/bc/gov/restapi/results/common/service/OpenMapsService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test(#804): add OPENING_ID to PROPERTYNAME
  backend/src/test/java/ca/bc/gov/restapi/results/common/endpoint/OpeningMapsEndpointIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test(#804): add OPENING_ID to PROPERTYNAME
  backend/src/test/java/ca/bc/gov/restapi/results/common/service/OpenMapsServiceIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: layertable
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerTable.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/styles/default-components.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#804): fix absence of OPENING_ID when requesting tenure polygons (#850)
  backend/src/main/java/ca/bc/gov/restapi/results/common/service/OpenMapsService.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/endpoint/OpeningMapsEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/service/OpenMapsServiceIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: multiplayer complete
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerTable.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/SingleMultiLayer.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/UnmappedArea.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/PolygonDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): adding tables required for forest cover and some data examples
  backend/src/test/resources/migration/oracle/V1.0.0__code_tables.sql
  backend/src/test/resources/migration/oracle/V1.0.1__base_tables.sql
  backend/src/test/resources/migration/oracle/V1.0.2__relation_tables.sql
  backend/src/test/resources/migration/oracle/V2.0.0__oracle_code_tables.sql
  backend/src/test/resources/migration/oracle/V3.0.10__test_data_60000.sql
  backend/src/test/resources/migration/oracle/V3.0.9__test_data_1589595.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): add SQL queries for retrieving forest cover details and related data
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): add projections and repository methods for detailed forest cover data
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverDetailedSpeciesProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverDetailsDamageProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverDetailsLayerProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverPolygonProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverUnmappedProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/repository/ForestCoverEntityRepository.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): add DTOs for opening forest cover data structures
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverDamageDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverDetailedSpeciesDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverDetailsDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverLayerDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverPolygonDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverUnmappedDto.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): implement detailed retrieval of forest cover information
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsForestCoverService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): add endpoint for retrieving detailed forest cover information
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpoint.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): enhance DTOs with Swagger annotations for forest cover data
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverDamageDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverDetailedSpeciesDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverDetailsDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverLayerDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverPolygonDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverUnmappedDto.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): add OpenAPI definitions for forest cover retrieval endpoints and data structures
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(#811): add cover details stub
  frontend/stub/__files/openings/details/coverdetails.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: #844 dev task complete forest cover scaffolding (#858)
  docker-compose.yml
  frontend/src/components/Card/CardTitle/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerAccordionTitle.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerTable.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/SingleMultiLayer.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/UnmappedArea.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/PolygonDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/styles/default-components.scss
  frontend/vite.config.ts
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

feat: under const tag
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerTable.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/PageTitle/styles.scss
  frontend/src/components/Tags/UnderConstructionTag/TagWrapper.tsx
  frontend/src/components/Tags/UnderConstructionTag/index.tsx
  frontend/src/components/Tags/UnderConstructionTag/styles.scss
  frontend/src/components/Tags/index.tsx
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: simplifying dir
  frontend/src/__test__/components/OpeningStatusTag.tsx
  frontend/src/components/ActivityTag/definitions.ts
  frontend/src/components/ActivityTag/index.tsx
  frontend/src/components/ActivityTag/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/UnmappedArea.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningTableRow/index.tsx
  frontend/src/components/Tags/CutBlockStatusTag/constants.ts
  frontend/src/components/Tags/CutBlockStatusTag/index.tsx
  frontend/src/components/Tags/OpeningStatusTag/constants.ts
  frontend/src/components/Tags/OpeningStatusTag/index.tsx
  frontend/src/components/Tags/StockingStatusTag/constants.ts
  frontend/src/components/Tags/StockingStatusTag/index.tsx
  frontend/src/components/Tags/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: under const tag
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerTable.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/PageTitle/styles.scss
  frontend/src/components/Tags/UnderConstructionTag/TagWrapper.tsx
  frontend/src/components/Tags/UnderConstructionTag/index.tsx
  frontend/src/components/Tags/UnderConstructionTag/styles.scss
  frontend/src/components/Tags/index.tsx
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: simplifying dir
  frontend/src/__test__/components/OpeningStatusTag.tsx
  frontend/src/components/ActivityTag/definitions.ts
  frontend/src/components/ActivityTag/index.tsx
  frontend/src/components/ActivityTag/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/UnmappedArea.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningTableRow/index.tsx
  frontend/src/components/Tags/CutBlockStatusTag/constants.ts
  frontend/src/components/Tags/CutBlockStatusTag/index.tsx
  frontend/src/components/Tags/OpeningStatusTag/constants.ts
  frontend/src/components/Tags/OpeningStatusTag/index.tsx
  frontend/src/components/Tags/StockingStatusTag/constants.ts
  frontend/src/components/Tags/StockingStatusTag/index.tsx
  frontend/src/components/Tags/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: enhancements
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/Tags/UnderConstructionTag/TagWrapper.tsx
  frontend/src/components/Tags/UnderConstructionTag/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): update test data to fix client location issue
  backend/src/test/resources/migration/oracle/V3.0.1__test_data_1009974.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test(#811): add integration tests for retrieving forest cover list and details
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningSearchServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#811): correct spelling of tree cover pattern code and name in SQL query
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

refactor: rename parameter in getLayerSpecies method for clarity
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsForestCoverService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: fixing case on dockerfile
  frontend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(deps): upgrade playwright in app to match test container
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Dockerfile change for convention
  frontend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): Dockerfile CAPS change for convention (#861)
  frontend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add missing id properties to LeftMenuItem in constants and index files
  frontend/src/components/BCHeaderwSide/constants.ts
  frontend/src/components/BCHeaderwSide/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: #855 update the experimental tag (#859)
  frontend/src/__test__/components/OpeningStatusTag.tsx
  frontend/src/components/ActivityTag/definitions.ts
  frontend/src/components/ActivityTag/index.tsx
  frontend/src/components/ActivityTag/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/LayerTable.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/UnmappedArea.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningTableRow/index.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/PageTitle/styles.scss
  frontend/src/components/Tags/CutBlockStatusTag/constants.ts
  frontend/src/components/Tags/CutBlockStatusTag/index.tsx
  frontend/src/components/Tags/OpeningStatusTag/constants.ts
  frontend/src/components/Tags/OpeningStatusTag/index.tsx
  frontend/src/components/Tags/StockingStatusTag/constants.ts
  frontend/src/components/Tags/StockingStatusTag/index.tsx
  frontend/src/components/Tags/UnderConstructionTag/TagWrapper.tsx
  frontend/src/components/Tags/UnderConstructionTag/index.tsx
  frontend/src/components/Tags/UnderConstructionTag/styles.scss
  frontend/src/components/Tags/index.tsx
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#689): initialize Playwright for user end-to-end test
  playwright/.gitignore
  playwright/package-lock.json
  playwright/package.json
  playwright/playwright.config.ts
  playwright/src/auth/.gitkeep
  playwright/src/generated/.gitkeep
  playwright/src/setup/auth.setup.ts
  playwright/src/setup/auth.teardown.ts
  playwright/src/setup/cucumber.setup.ts
  playwright/src/setup/cucumber.teardown.ts
  playwright/src/setup/global.setup.ts
  playwright/src/setup/global.teardown.ts
  playwright/src/steps/stepTypes.ts
  playwright/src/tests/.gitkeep
Owners: @paulushcgcj, @craigyu, @Abradat

feat(#689): add Playwright step definitions for dashboard navigation and assertions
  playwright/src/features/dashboard.feature
  playwright/src/steps/assertions.steps.ts
  playwright/src/steps/index.ts
  playwright/src/steps/navigation.steps.ts
Owners: @paulushcgcj, @craigyu, @Abradat

fix: remove springdoc in application.yml
  backend/src/main/resources/application.yml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: remove unused pkg
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add milestone type code test migration
  backend/src/test/resources/migration/oracle/V2.0.0__oracle_code_tables.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add standard unit milestone query constant
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
