Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

feat: Add GML file validation and processing enhancements
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/endpoint/OpeningEndpoint.java
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  frontend/src/__test__/fixtures/gml-curve.gml
  frontend/src/__test__/fixtures/gml-not-in-bc.gml
  frontend/src/__test__/fixtures/gml-not-thinned.gml
  frontend/src/utils/SpatialUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Improve GML/ESF geometry extraction and parsing
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  frontend/src/__test__/fixtures/esf-test-file.xml
  frontend/src/__test__/fixtures/gml-test-file.gml
  frontend/src/utils/SpatialUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: Add tenure extraction and metadata to ESF spatial file upload
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/dto/ExtractedGeoDataDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/dto/GeoMetaDataDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/dto/TenureDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  frontend/src/__test__/fixtures/esf-bad-crs.xml
  frontend/src/__test__/fixtures/esf-not-thinned.xml
  frontend/src/__test__/fixtures/esf-valid.xml
  frontend/src/screens/CreateOpening/index.tsx
  frontend/src/services/OpenApi/index.ts
  frontend/src/services/OpenApi/models/ExtractedGeoDataDto.ts
  frontend/src/services/OpenApi/models/GeoMetaDataDto.ts
  frontend/src/services/OpenApi/models/JsonNode.ts
  frontend/src/services/OpenApi/services/OpeningEndpointService.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Add TenureDto model and update geo data types
  frontend/src/services/OpenApi/index.ts
  frontend/src/services/OpenApi/models/ExtractedGeoDataDto.ts
  frontend/src/services/OpenApi/models/GeoMetaDataDto.ts
  frontend/src/services/OpenApi/models/TenureDto.ts
  frontend/src/utils/SpatialUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Improve spatial file service JavaDoc and add ESF test fixture
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  frontend/src/__test__/fixtures/esf-not-in-bc.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Refactor imports and type usage in OpeningSpatialFileService
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: Add Maven settings for OSGeo repository in Docker build
  backend/Dockerfile
  backend/settings.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Improve DTO JavaDoc and error message handling
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/dto/ExtractedGeoDataDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/dto/TenureDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Harden XML parsing against XXE and DTD attacks
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: Add geometry reprojection to EPSG:4326 in spatial file handling
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  frontend/src/utils/SpatialUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Use custom Maven settings in analysis workflow
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: debug build
  backend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add install
  .github/workflows/analysis.yml
  backend/Dockerfile
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

fix: trying different build cmd
  backend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: test cmd
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: aligning versions
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#971): integrate forest cover history backend with frontend (#1027)
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/history/OpeningForestCoverHistoryOverviewDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpoint.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/history/ForestCoverHistoryOverviewProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/repository/ForestCoverEntityRepository.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/history/OpeningForestCoverHistoryService.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningForestCoverHistoryServiceTest.java
  frontend/src/__e2e__/pages/opening-details-page.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/components/OpeningDetails/OpeningStandardUnits/index.tsx
  frontend/src/services/OpenApi/models/OpeningForestCoverHistoryOverviewDto.ts
  frontend/src/services/OpenApi/services/OpeningEndpointService.ts
  frontend/src/utils/DateUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: add tests
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/endpoint/OpeningEndpointUploadIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileServiceTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/UserRecentOpeningSearchServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: test
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/endpoint/OpeningEndpointUploadIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: increase coverage
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/endpoint/OpeningEndpointUploadIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add more tests
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/endpoint/OpeningEndpointUploadIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: use wrapper
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: workflow with custom repo
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: add debug
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: mvn
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: diagnos test
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: workflow
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: sonar
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: sonar
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: refresh token only if expired
  frontend/package-lock.json
  frontend/src/constants/index.ts
  frontend/src/constants/tanstackConfig.ts
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/services/API.ts
  frontend/src/utils/CookieUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: retry on 401 only
  frontend/src/constants/index.ts
  frontend/src/constants/tanstackConfig.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: test
  frontend/src/__test__/contexts/AuthProvider.test.tsx
  frontend/src/__test__/contexts/PreferenceProvider.test.tsx
  frontend/src/__test__/index.test.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: test with mock
  frontend/src/__test__/contexts/AuthProvider.test.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: sonar backend
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Update frontend/src/utils/CookieUtils.ts
  frontend/src/utils/CookieUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Update frontend/src/constants/tanstackConfig.ts
  frontend/src/constants/tanstackConfig.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: copilot recomm.
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  frontend/src/constants/tanstackConfig.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: cookie util, oops
  frontend/src/utils/CookieUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add test
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: #652 bugfix session silently timing out (#1045)
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileService.java
  backend/src/test/java/ca/bc/gov/restapi/results/postgres/service/OpeningSpatialFileServiceTest.java
  frontend/package-lock.json
  frontend/src/__test__/contexts/AuthProvider.test.tsx
  frontend/src/__test__/contexts/PreferenceProvider.test.tsx
  frontend/src/__test__/index.test.tsx
  frontend/src/constants/index.ts
  frontend/src/constants/tanstackConfig.ts
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/services/API.ts
  frontend/src/utils/CookieUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat
