Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

feat: test on all browsers
  .github/workflows/e2e.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/__e2e__/_README.md
  frontend/src/__e2e__/setup/coverage.ts
  frontend/vite.config.ts
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: script
  frontend/package.json
  frontend/playwright.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#799): cleanup manually defined types and use OpenAPI types
  frontend/src/types/CommentTypes.ts
  frontend/src/types/ForestClientTypes/ForestClientLocationType.ts
  frontend/src/types/ForestClientTypes/ForestClientSearchType.ts
  frontend/src/types/ForestClientTypes/ForestClientType.ts
  frontend/src/types/OpeningTypes.ts
  frontend/src/types/TableHeader.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: fix indentation
  frontend/src/types/MapLayer.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#799): replace manually defined types with OpenAPI types
  frontend/src/services/OpeningClientLocationService.ts
  frontend/src/services/OpeningDetailsService.ts
  frontend/src/services/OpeningSearchService.ts
  frontend/src/services/OpeningService.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: support multiple browsers
  docker-compose.yml
  frontend/playwright.config.ts
  frontend/src/__e2e__/auth/auth.setup.ts
  frontend/src/__e2e__/auth/auth.teardown.ts
  frontend/src/__e2e__/auth/user.chromium.json
  frontend/src/__e2e__/auth/user.firefox.json
  frontend/src/__e2e__/auth/user.webkit.json
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

fix: firefox and webkit
  frontend/src/__e2e__/_README.md
  frontend/src/__e2e__/auth/auth.setup.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Update auth.setup.ts
  frontend/src/__e2e__/auth/auth.setup.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: use playwright container
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update pr-open.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix(#818): update SQL queries to reference STOCKING_STANDARD_UNIT and ACTIVITY_TREATMENT_UNIT directly
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: add new entries for forest management units and activity treatment units in SQL scripts
  backend/src/test/resources/migration/oracle/V2.0.2__oracle_important_tables.sql
  backend/src/test/resources/migration/oracle/V3.0.13__test_data_1004185.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#818): update SQL field references in OpeningDetailsActivitiesService and OpeningDetailsTenureService
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsActivitiesService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsTenureService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test(#818): update tests to validate species array and adjust expected content size
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningSearchServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#818): species not loading for activities (#819)
  backend/src/main/java/ca/bc/gov/restapi/results/common/configuration/SilvaGlobalConfiguration.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsActivitiesService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsTenureService.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningSearchServiceTest.java
  backend/src/test/resources/migration/oracle/V2.0.2__oracle_important_tables.sql
  backend/src/test/resources/migration/oracle/V3.0.13__test_data_1004185.sql
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: #689 dev task set up playwrite for e2e testing (#807)
  .github/workflows/.deploy.yml
  .github/workflows/analysis.yml
  .github/workflows/e2e.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  docker-compose.yml
  frontend/.gitignore
  frontend/openshift.deploy.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/__e2e__/Dashboard.spec.ts
  frontend/src/__e2e__/SilvicultureSearch.spec.ts
  frontend/src/__e2e__/_README.md
  frontend/src/__e2e__/auth/auth.setup.ts
  frontend/src/__e2e__/auth/auth.teardown.ts
  frontend/src/__e2e__/auth/user.chromium.json
  frontend/src/__e2e__/auth/user.firefox.json
  frontend/src/__e2e__/auth/user.webkit.json
  frontend/src/__e2e__/setup/coverage.ts
  frontend/src/amplifyconfiguration.ts
  frontend/src/constants/TimeUnits.ts
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/services/apiConfig.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat, @carolinemwood

chore(ci): drop docker pins
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test: update test files for improved readability and consistency
  frontend/src/__test__/components/ActionButtons.test.tsx
  frontend/src/__test__/components/BCHeaderwSide.test.tsx
  frontend/src/__test__/components/BarChartTooltip.test.tsx
  frontend/src/__test__/components/Dashboard/OpeningSubmissionTrend.test.tsx
  frontend/src/__test__/components/Dashboard/RecentOpenings.test.tsx
  frontend/src/__test__/components/SilvicultureSearch/OpeningSearch.test.tsx
  frontend/src/__test__/contexts/AuthProvider.test.tsx
  frontend/src/__test__/contexts/PreferenceProvider.test.tsx
  frontend/src/__test__/map-services/BcGwLatLongUtils.test.ts
  frontend/src/__test__/screens/Landing.test.tsx
  frontend/src/map-services/BcGwLatLongUtils.ts
  frontend/src/screens/ErrorHandling/index.tsx
  frontend/src/screens/Landing/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: exclude __e2e__ directory from test coverage
  frontend/vite.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Restore Dockerfile image build names
  backend/Dockerfile
  frontend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: update test command to use verbose reporter and refine coverage configuration
  frontend/package.json
  frontend/vite.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#799): add OpenAPI schema metadata to DTO fields
  backend/src/main/java/ca/bc/gov/restapi/results/common/dto/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/dto/ForestClientLocationDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/CodeDescriptionDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/SimplePageDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/activity/OpeningActivityBaseDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/comment/CommentDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsActivitiesActivitiesDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsActivitiesDisturbanceDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsBecDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsOverviewDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsOverviewMilestoneDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsOverviewOpeningDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsStockingDetailsDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsStockingDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsStockingLayerDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsStockingSpeciesDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsTenureDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsTenuresDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsTombstoneDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsTombstoneOverviewDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningSearchResponseDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/postgres/dto/OpeningsPerYearDto.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#799): update OpenAPI types
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#799): align openings fixture to OpenAPI type definition
  frontend/src/__test__/fixtures/openings.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#799): switch to OpenAPI exported types
  frontend/src/components/Comments/index.tsx
  frontend/src/components/CutBlockStatusTag/index.tsx
  frontend/src/components/ForestClientInput/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/DirectSeedingActivityDetail.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/PlantingActivityDetail.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/definitions.ts
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/DisturbanceAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/DisturbanceDetail.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/constants.ts
  frontend/src/components/OpeningDetails/OpeningActivities/definitions.ts
  frontend/src/components/OpeningDetails/OpeningActivities/utils.ts
  frontend/src/components/OpeningDetails/OpeningOverview/index.tsx
  frontend/src/components/OpeningDetails/OpeningStandardUnits/AccordionTitle.tsx
  frontend/src/components/OpeningDetails/OpeningStandardUnits/SpeciesTooltipList.tsx
  frontend/src/components/OpeningDetails/OpeningStandardUnits/constants.ts
  frontend/src/components/OpeningDetails/OpeningStandardUnits/index.tsx
  frontend/src/components/OpeningDetails/OpeningStandardUnits/utils.ts
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/OpeningTenureTooltip.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/constants.ts
  frontend/src/components/OpeningDetails/TenureIdentification/definitions.ts
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/utils.ts
  frontend/src/components/OpeningSubmissionTrend/definitions.ts
  frontend/src/components/OpeningSubmissionTrend/index.tsx
  frontend/src/components/OpeningTableRow/index.tsx
  frontend/src/components/RecentOpenings/index.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/OpeningSearchBar.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/index.tsx
  frontend/src/types/CodeDescriptionType.ts
  frontend/src/utils/ForestClientUtils.ts
  frontend/src/utils/multiSelectUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): drop docker pins (#826)
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#802): fix content spacing on openings map entry popup
  frontend/src/components/OpeningsMapEntryPopup/index.tsx
  frontend/src/components/OpeningsMapEntryPopup/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#823): add forest cover tab and base component
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/screens/Openings/OpeningDetails/constants.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#823): add forest cover table headers
  frontend/src/components/OpeningDetails/OpeningForestCover/constants.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#823): add forest cover mock types and data
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: barchart popup styles
  frontend/src/components/BarChartTooltip/index.scss
  frontend/src/components/BarChartTooltip/index.tsx
  frontend/src/components/OpeningSubmissionTrend/constants.tsx
  frontend/src/components/OpeningSubmissionTrend/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#823): add forest cover ID to mock data
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#823): add forest cover table and details basic scaffold
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/utils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: #631 dev task bar chart popover style update (#837)
  frontend/src/components/BarChartTooltip/index.scss
  frontend/src/components/BarChartTooltip/index.tsx
  frontend/src/components/OpeningSubmissionTrend/constants.tsx
  frontend/src/components/OpeningSubmissionTrend/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#802): fix content spacing on openings map entry popup (#832)
  frontend/src/components/OpeningsMapEntryPopup/index.tsx
  frontend/src/components/OpeningsMapEntryPopup/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: remove zebra
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: default import
  frontend/src/components/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#797): enable noUncheckedIndexedAccess and fix types
  frontend/playwright.config.ts
  frontend/src/amplifyconfiguration.ts
  frontend/src/components/ActivityTag/index.tsx
  frontend/src/components/AvatarImage/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/constants.ts
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/constants.ts
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningSubmissionTrend/index.tsx
  frontend/src/components/OpeningsMap/index.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/OpeningSearchBar.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/index.tsx
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/index.tsx
  frontend/src/map-services/BcGwLatLongUtils.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
  frontend/src/services/AuthService.ts
  frontend/src/types/MapLayer.ts
  frontend/src/utils/famUtils.ts
  frontend/tsconfig.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
