Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

fix: update fam config
  docker-compose.yml
  frontend/package.json
  frontend/src/amplifyconfiguration.ts
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

fix: update fam config (#1054)
  docker-compose.yml
  frontend/package.json
  frontend/src/amplifyconfiguration.ts
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

fix: return uri
  frontend/src/amplifyconfiguration.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: retry logic
  frontend/src/constants/tanstackConfig.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: fam config (#1056)
  frontend/src/amplifyconfiguration.ts
  frontend/src/constants/tanstackConfig.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: query
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: status logic
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/opening/OpeningActivitiesActivitiesProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/repository/ActivityTreatmentUnitRepository.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: update CSP in Caddy
  frontend/Caddyfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: update CSP in Caddy (#1059)
  frontend/Caddyfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: allowed origin value for test
  .github/workflows/merge.yml
  backend/src/main/java/ca/bc/gov/restapi/results/common/configuration/CorsConfiguration.java
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

fix: allowed origin value for test (#1060)
  .github/workflows/merge.yml
  backend/src/main/java/ca/bc/gov/restapi/results/common/configuration/CorsConfiguration.java
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

fix: 1050 invalid status on some planned activities (#1057)
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/opening/OpeningActivitiesActivitiesProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/repository/ActivityTreatmentUnitRepository.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix/Handle auth refresh state in loading and error UI
  frontend/src/components/DistrictSelection/index.tsx
  frontend/src/components/FavouriteOpenings/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/index.tsx
  frontend/src/components/OpeningDetails/OpeningAttachment/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningStandardUnits/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningSubmissionTrend/index.tsx
  frontend/src/components/RecentOpenings/index.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/index.tsx
  frontend/src/constants/tanstackConfig.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat/Add navigation to opening by ID input
  frontend/src/screens/Openings/index.tsx
  frontend/src/screens/Openings/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Prevent navigation with empty openingId
  frontend/src/screens/Openings/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Restrict opening ID input to digits only
  frontend/src/screens/Openings/index.tsx
  frontend/src/utils/InputUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Refactor input handling in Openings screen
  frontend/src/screens/Openings/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Refactor sanitizeDigits to use charCodeAt and array
  frontend/src/utils/InputUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: 1063 quick access by opening (#1066)
  frontend/src/components/DistrictSelection/index.tsx
  frontend/src/components/FavouriteOpenings/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/index.tsx
  frontend/src/components/OpeningDetails/OpeningAttachment/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningStandardUnits/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningSubmissionTrend/index.tsx
  frontend/src/components/RecentOpenings/index.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/index.tsx
  frontend/src/constants/tanstackConfig.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
  frontend/src/screens/Openings/index.tsx
  frontend/src/screens/Openings/styles.scss
  frontend/src/utils/InputUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Enhance queries to support planned silviculture fields
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: table colSpan to account for new column
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/styles.scss
  frontend/src/components/OpeningDetails/OpeningActivities/DisturbanceAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: copilot suggestions
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add icon to go btn
  frontend/src/screens/Openings/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Remove unnecessary overflow-x overrides in styles
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/styles.scss
  frontend/src/components/OpeningDetails/OpeningActivities/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: 1061 missing tech method obj in planned activities (#1069)
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/DisturbanceAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/screens/Openings/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat/Add Ubuntu-based PostGIS deployment with CI workflow
  .github/workflows/postgres-ubuntu.yml
  postgres-oracle/Dockerfile
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

fix: Enhance Postgres deployment security and initialization
  .github/workflows/postgres-ubuntu.yml
  postgres-oracle/Dockerfile
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

Update postgres-ubuntu.yml
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update namespace to d41ea0-test in deployment YAML
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Convert ubuntu-postgis manifests to OpenShift template
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Update Postgres deployment configs and entrypoint
  common/openshift.database.yml
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Refactor PostGIS deployment and improve workflow safety
  .github/workflows/postgres-ubuntu.yml
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

Improve deployment security and default network config
  .github/workflows/postgres-ubuntu.yml
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

Update ubuntu-postgis-deploy.yml
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

feat: Add Ubuntu-based PostGIS deployment with CI workflow (#1078)
  .github/workflows/postgres-ubuntu.yml
  common/openshift.database.yml
  postgres-oracle/Dockerfile
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

Update workflow to use vars for OC_SERVER and improve secret handling
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: ubuntu-postgres workflow (#1079)
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Refactor secret creation and OpenShift deployment steps
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Improve secret handling in Postgres workflow
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: Refactor secret creation and OpenShift deployment steps (#1080)
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu
