Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

feat: enhance popup functionality in mapKinds with detailed property information
  frontend/src/types/MapLayer.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add animation to map view when setting map bounds
  frontend/src/components/OpeningsMapFitBound/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: update map handling to support multiple map kinds and enhance layer control options
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningsMap/fetcher.ts
  frontend/src/components/OpeningsMap/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: update dependencies in useEffect to include defaultLocation and defaultZoom
  frontend/src/components/OpeningsMapFitBound/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: make kind prop optional in OpeningsMap component
  frontend/src/components/OpeningsMap/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test(#827): add page objects and tests to playwright tests (#889)
  frontend/src/__e2e__/Dashboard.spec.ts
  frontend/src/__e2e__/SilvicultureSearch.spec.ts
  frontend/src/__e2e__/pages/base-page.ts
  frontend/src/__e2e__/pages/dashboard-page.ts
  frontend/src/__e2e__/pages/login-page.ts
  frontend/src/__e2e__/pages/opening-details-page.ts
  frontend/src/__e2e__/pages/openings-page.ts
  frontend/src/__e2e__/pages/side-bar.ts
  frontend/src/__e2e__/pages/silviculture-search-page.ts
  frontend/src/__e2e__/pages/top-nav-bar.ts
  frontend/src/__e2e__/tests/dashboard.spec.ts
  frontend/src/__e2e__/tests/login.spec.ts
  frontend/src/__e2e__/tests/opening-details.spec.ts
  frontend/src/__e2e__/tests/openings.spec.ts
  frontend/src/__e2e__/tests/side-bar.spec.ts
  frontend/src/__e2e__/tests/silviculture-search.spec.ts
  frontend/src/__e2e__/tests/top-nav.spec.ts
  frontend/src/__e2e__/utils/routes.ts
  frontend/src/components/BCHeaderwSide/index.tsx
  frontend/src/components/FavouriteOpenings/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/DisturbanceAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningStandardUnits/AccordionTitle.tsx
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningSubmissionTrend/index.tsx
  frontend/src/components/OpeningTableRow/index.tsx
  frontend/src/components/RecentOpenings/index.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/OpeningSearchBar.tsx
  frontend/stub/__files/forest-clients/clients.json
  frontend/stub/__files/forest-clients/locations_00170022.json
  frontend/stub/__files/openings/details/opening-60000/activities-filtered.json
  frontend/stub/__files/openings/details/opening-60000/cover-filtered.json
  frontend/stub/__files/openings/details/opening-60000/favourites.json
  frontend/stub/__files/openings/details/opening-60000/ssu.json
  frontend/stub/__files/openings/details/opening-60000/tenures-filtered.json
  frontend/stub/__files/openings/details/opening-60000/tenures.json
  frontend/stub/__files/openings/details/opening-60000/tombstone.json
  frontend/stub/__files/openings/favourites.json
  frontend/stub/__files/openings/recent-start.json
  frontend/stub/__files/search/search_openings_60000.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: optimizing
  backend/src/test/resources/migration/oracle/V3.0.15__attachments.sql
  frontend/src/components/OpeningDetails/OpeningAttachment/constants.ts
  frontend/src/components/OpeningDetails/OpeningAttachment/index.tsx
  frontend/src/components/OpeningDetails/OpeningAttachment/styles.scss
  frontend/src/components/OpeningDetails/index.tsx
  frontend/src/screens/Openings/OpeningDetails/constants.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
  frontend/src/styles/default-components.scss
  frontend/src/utils/FileUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: update columns
  frontend/src/components/OpeningDetails/OpeningAttachment/constants.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): deploy trigger for e2e
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

chore(ci): deploy trigger for e2e (#907)
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: auth setup
  frontend/src/__test__/components/MyProfile.test.tsx
  frontend/src/__test__/contexts/AuthProvider.test.tsx
  frontend/src/__test__/index.test.tsx
  frontend/src/__test__/screens/Landing.test.tsx
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/screens/Landing/index.tsx
  frontend/src/screens/Openings/OpeningDetails/constants.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
  frontend/src/services/AuthService.ts
  frontend/src/types/AuthTypes.ts
  frontend/src/types/amplify.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add tests
  backend/src/test/java/ca/bc/gov/restapi/results/common/util/MimeTypeResolverTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/converter/UuidToBytesConverterTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningDetailsAttachmentServiceTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/security/LoggedUserHelperIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: adjust tests
  backend/src/test/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtilTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/util/MimeTypeResolverTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningDetailsAttachmentServiceTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/security/LoggedUserHelperIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: frontend tests
  frontend/src/__test__/services/AuthService.test.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: rigging the test
  frontend/src/__test__/services/AuthService.test.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: opening test
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: hardcoded test value
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: opening test again
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test: remove OpeningMaps test file
  frontend/src/__test__/components/OpeningMaps.test.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: remove test field
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: sonar issues
  backend/src/main/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtil.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/util/MimeTypeResolver.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/converter/UuidToBytesConverter.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpoint.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsAttachmentService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: update openapi
  frontend/src/services/OpenApi/services/OpeningEndpointService.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#893): fixing map polygons (#902)
  frontend/src/__test__/components/OpeningMaps.test.tsx
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningsMap/fetcher.ts
  frontend/src/components/OpeningsMap/index.tsx
  frontend/src/components/OpeningsMapEntry/index.tsx
  frontend/src/components/OpeningsMapFitBound/index.tsx
  frontend/src/types/MapLayer.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: uuid test
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/converter/UuidToBytesConverterTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: renaming migrations
  backend/src/test/resources/migration/oracle/V4.0.0__post_test_data_attachments.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: improve case-insensitive matching for identity provider claims
  backend/src/main/java/ca/bc/gov/restapi/results/common/enums/IdentityProvider.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtilTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: remove redundant test for opening visibility on map
  frontend/src/__e2e__/tests/openings.spec.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: redirect with url passed before login
  docker-compose.yml
  frontend/src/constants/index.ts
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/routes/index.tsx
  frontend/src/screens/Dashboard/index.tsx
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

fix: tests
  frontend/src/__test__/components/OpeningRow.test.tsx
  frontend/src/routes/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: weird path issue
  frontend/src/routes/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#900): add audit detail db test migration for opening 101017
  backend/src/test/resources/migration/oracle/V3.0.0__test_data_101017.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#900): add history audit query constants
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#900): add opening history audit projections
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/opening/OpeningAuditDetailProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/opening/OpeningAuditProjection.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#900): add opening history audit DTOs
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/history/OpeningDetailsHistoryAuditEventDetailsDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/history/OpeningDetailsHistoryAuditEventDto.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: #911 redirect with url passed before login (#916)
  docker-compose.yml
  frontend/src/__test__/components/OpeningRow.test.tsx
  frontend/src/constants/index.ts
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/routes/index.tsx
  frontend/src/screens/Dashboard/index.tsx
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

Bump playwright to match the e2e action
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#922): return INFO notification for overdue regeneration milestone query
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#922): add INFO milestone notification and sort notifications
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsNotificationService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test(#922): update unit and integration tests for opening milestone notifications
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningDetailsNotificationServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningDetailsNotificationServiceTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#923): fix map re-rendering infinitely
  frontend/src/components/OpeningsMap/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
