Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

chore: Add wiremock mappings for openings and user submission trends
  frontend/stub/__files/codes/categories.json
  frontend/stub/__files/codes/org-units.json
  frontend/stub/__files/openings/details/activities-3910948.json
  frontend/stub/__files/openings/details/activities-3910949.json
  frontend/stub/__files/openings/details/activities-4009860.json
  frontend/stub/__files/openings/details/activities-4187958.json
  frontend/stub/__files/openings/details/activities.json
  frontend/stub/__files/openings/details/disturbances.json
  frontend/stub/__files/openings/details/ssu.json
  frontend/stub/__files/openings/details/tenures.json
  frontend/stub/__files/openings/details/tombstone.json
  frontend/stub/__files/openings/favourites.json
  frontend/stub/__files/openings/map/atu.json
  frontend/stub/__files/openings/map/cutblock.json
  frontend/stub/__files/openings/map/opening.json
  frontend/stub/__files/openings/map/su.json
  frontend/stub/__files/openings/recent-favved.json
  frontend/stub/__files/openings/recent-start.json
  frontend/stub/__files/openings/search.json
  frontend/stub/__files/users/submission-trends.json
  frontend/stub/mappings/codes.json
  frontend/stub/mappings/openings-details.json
  frontend/stub/mappings/openings-favourites.json
  frontend/stub/mappings/openings-map.json
  frontend/stub/mappings/openings-recent.json
  frontend/stub/mappings/openings-search.json
  frontend/stub/mappings/users-submission-trends.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: load environment variables in playwright configuration
  frontend/playwright.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#689): implement stub loader utility and refactor Dashboard tests to use stubbed responses
  frontend/src/__e2e__/Dashboard.spec.ts
  frontend/src/__e2e__/utils/stubLoader.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: add user JSON files to .gitignore for e2e tests
  .gitignore
  frontend/.gitignore
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

feat: add dotenv dependency and update npm scripts for improved local development
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): remove server names from template
  backend/openshift.deploy.yml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): remove server names from Compose
  docker-compose.yml
Owners: @paulushcgcj, @craigyu, @Abradat

chore(ci): remove server names from backend
  backend/src/main/resources/application.yml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: setting default values
  backend/src/main/resources/application.yml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test: update BarChartTooltip and ChartContainer tests for improved rendering checks
  frontend/src/__test__/components/BarChartTooltip.test.tsx
  frontend/src/__test__/components/ChartContainer.test.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test: mock OpeningSearchService for SilvicultureSearch component tests
  frontend/src/__test__/screens/SilvicultureSearch.test.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: clean up BarChartTooltip component formatting and remove console log
  frontend/src/components/BarChartTooltip/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): remove internal IPs and server names (#838)
  backend/openshift.deploy.yml
  backend/src/main/resources/application.yml
  docker-compose.yml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test: add 'json' reporter to coverage configuration in vite.config.ts
  frontend/vite.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: styling and utils
  docker-compose.yml
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/utils.ts
  frontend/src/components/OpeningDetails/index.tsx
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

feat(#797): enable noUncheckedIndexedAccess and fix types (#839)
  frontend/playwright.config.ts
  frontend/src/amplifyconfiguration.ts
  frontend/src/components/ActivityTag/index.tsx
  frontend/src/components/AvatarImage/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityAccordion.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/constants.ts
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningDetails/TenureIdentification/constants.ts
  frontend/src/components/OpeningDetails/TenureIdentification/index.tsx
  frontend/src/components/OpeningSubmissionTrend/index.tsx
  frontend/src/components/OpeningsMap/index.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/OpeningSearchBar.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/index.tsx
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/index.tsx
  frontend/src/map-services/BcGwLatLongUtils.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
  frontend/src/services/AuthService.ts
  frontend/src/types/MapLayer.ts
  frontend/src/utils/famUtils.ts
  frontend/tsconfig.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#834): fix opening overview tab colour
  frontend/src/components/OpeningDetails/OpeningOverview/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#834): fix zebra table header background colour on dark mode
  frontend/src/styles/default-components.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): drop allowlisted actions pins
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

chore(ci): drop allowlisted actions pins (#843)
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

feat: expanded row mock and tag
  frontend/src/components/CutBlockStatusTag/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/components/StockingStatusTag/constants.ts
  frontend/src/components/StockingStatusTag/index.tsx
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: build
  frontend/src/components/OpeningDetails/OpeningForestCover/constants.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: update analysis workflow and add scripts documentation for frontend
  .github/workflows/analysis.yml
  frontend/docs/scripts.md
  frontend/package.json
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

feat: add Playwright Chromium installation to frontend coverage job
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: use forest cover id
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: expand button colour
  frontend/src/styles/default-components.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: refactor Silviculture Search tests to use beforeEach for setup and stub API responses
  frontend/src/__e2e__/SilvicultureSearch.spec.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: remove empty browser-specific user JSON files
  frontend/src/__e2e__/auth/user.chromium.json
  frontend/src/__e2e__/auth/user.firefox.json
  frontend/src/__e2e__/auth/user.webkit.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: update Playwright config to spin local server itself
  frontend/docs/scripts.md
  frontend/package.json
  frontend/playwright.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: revert quote fix
  docker-compose.yml
Owners: @paulushcgcj, @craigyu, @Abradat

feat(#834): show client name on tool tip text
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#834): redesign opening status tag
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningStatusTag/constants.ts
  frontend/src/components/OpeningStatusTag/index.tsx
  frontend/src/components/OpeningTableRow/index.tsx
  frontend/src/components/StatusTag/definitions.ts
  frontend/src/components/StatusTag/index.tsx
  frontend/src/components/StatusTag/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#834): fix tests
  frontend/src/__test__/components/OpeningDetails/OpeningSummary.test.tsx
  frontend/src/__test__/components/OpeningRow.test.tsx
  frontend/src/__test__/components/OpeningStatusTag.tsx
  frontend/src/__test__/components/StatusTag.test.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#823): add partial opening details forest cover scaffolding (#833)
  frontend/src/components/CutBlockStatusTag/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/utils.ts
  frontend/src/components/OpeningDetails/index.tsx
  frontend/src/components/StockingStatusTag/constants.ts
  frontend/src/components/StockingStatusTag/index.tsx
  frontend/src/screens/Openings/OpeningDetails/constants.ts
  frontend/src/screens/Openings/OpeningDetails/index.tsx
  frontend/src/styles/default-components.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#811): added Forest cover list API
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/cover/OpeningForestCoverLayerListDescriptionDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpoint.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverEntity.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/cover/ForestCoverSpeciesProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/repository/ForestCoverEntityRepository.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsForestCoverService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: rename test data file and add forest cover layer and species data
  backend/src/test/resources/migration/oracle/V3.0.10__test_data_60000.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: add forest cover layer and species tables with initial data
  backend/src/test/resources/migration/oracle/V1.0.0__code_tables.sql
  backend/src/test/resources/migration/oracle/V1.0.1__base_tables.sql
  backend/src/test/resources/migration/oracle/V1.0.2__relation_tables.sql
  backend/src/test/resources/migration/oracle/V2.0.0__oracle_code_tables.sql
  backend/src/test/resources/migration/oracle/V2.0.2__oracle_important_tables.sql
  backend/src/test/resources/migration/oracle/V3.0.0__test_data_101017.sql
  backend/src/test/resources/migration/oracle/V3.0.11__test_data_1796497.sql
  backend/src/test/resources/migration/oracle/V3.0.12__test_data_1020124.sql
  backend/src/test/resources/migration/oracle/V3.0.13__test_data_1004185.sql
  backend/src/test/resources/migration/oracle/V3.0.1__test_data_1009974.sql
  backend/src/test/resources/migration/oracle/V3.0.2__test_data_1524010.sql
  backend/src/test/resources/migration/oracle/V3.0.3__test_data_1541296.sql
  backend/src/test/resources/migration/oracle/V3.0.4__test_data_1725701.sql
  backend/src/test/resources/migration/oracle/V3.0.5__test_data_1092357.sql
  backend/src/test/resources/migration/oracle/V3.0.6__test_data_1480130.sql
  backend/src/test/resources/migration/oracle/V3.0.7__test_data_1777756.sql
  backend/src/test/resources/migration/oracle/V3.0.8__test_data_1761935.sql
  backend/src/test/resources/migration/oracle/V3.0.9__test_data_1589595.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: add test data for opening 17247
  backend/src/test/resources/migration/oracle/V3.0.14__test_data_17247.sql
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: add stub data to the frontend
  frontend/stub/__files/openings/details/cover.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: unmapped area
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverDetail/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/UnmappedArea.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/PolygonDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/styles.scss
  frontend/src/components/OpeningDetails/OpeningForestCover/definitions.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
  frontend/vite.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
