Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

Update postgres-ubuntu.yml
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update postgres-ubuntu.yml
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Improve pod cleanup and rollout feedback in workflow
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: Update postgres-ubuntu.yml (#1081)
  .github/workflows/postgres-ubuntu.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Reduce storage request to 1Gi in PostGIS deployment
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

fix: Reduce storage request to 1Gi in PostGIS deployment (#1082)
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Reduce storage request for PostGIS deployment
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

fix: Reduce storage request for PostGIS deployment (#1083)
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Remove securityContext from deployment spec
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

fix: Remove securityContext from deployment spec (#1084)
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Add securityContext to deployment spec
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

fix: Add securityContext to deployment spec (#1085)
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @craigyu, @Abradat

chore(ci): npm ci --ignore-scripts
  docker-compose.yml
Owners: @paulushcgcj, @craigyu, @Abradat

chore(ci): shai hulud 2 patch (#1088)
  docker-compose.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Update provider value extraction logic in JwtPrincipalUtil
  backend/src/main/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtil.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Create openshift-postgis-playground.yml
  common/openshift-postgis-playground.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Revert "Create openshift-postgis-playground.yml"
  common/openshift-postgis-playground.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Standardize provider names to uppercase in JwtPrincipalUtil
  backend/src/main/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtilTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Add username claim with idp suffix in mock JWT
  backend/src/test/java/ca/bc/gov/restapi/results/extensions/WithMockJwtSecurityContextFactory.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: attachment not fetching (#1089)
  backend/src/main/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/util/JwtPrincipalUtilTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/extensions/WithMockJwtSecurityContextFactory.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Update auth token retrieval in OpeningAttachment
  frontend/src/components/OpeningDetails/OpeningAttachment/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Update auth token retrieval in OpeningAttachment (#1090)
  frontend/src/components/OpeningDetails/OpeningAttachment/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: Remove Postgres Ubuntu PostGIS deployment files
  .github/workflows/postgres-ubuntu.yml
  postgres-oracle/Dockerfile
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

fix: Remove Postgres Ubuntu PostGIS deployment files (#1095)
  .github/workflows/postgres-ubuntu.yml
  postgres-oracle/Dockerfile
  postgres-oracle/docker-entrypoint.sh
  postgres-oracle/ubuntu-postgis-deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

Add PostGIS playground deployment and helper scripts
  common/postgis-playground/Dockerfile
  common/postgis-playground/README.md
  common/postgis-playground/deployment.yml
  common/postgis-playground/openshift.postgis-playground.yml
  common/postgis-playground/pvc.yml
Owners: @paulushcgcj, @craigyu, @Abradat

fix: Add ora2pg container and resource limits
  common/postgis-playground/README.md
  common/postgis-playground/openshift.postgis-playground.yml
Owners: @paulushcgcj, @craigyu, @Abradat

fix: remove deup
  common/postgis-playground/deployment.yml
  common/postgis-playground/openshift.postgis-playground.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Create .trivyignore
  .trivyignore
Owners: @paulushcgcj, @craigyu, @Abradat

Update PVC mount path and add OpenShift deployment
  common/postgis-playground/README.md
  common/postgis-playground/openshift.postgis-playground.yml
Owners: @paulushcgcj, @craigyu, @Abradat

Update Trivy config and clarify README manifest info
  .github/workflows/analysis.yml
  common/postgis-playground/README.md
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

Update analysis.yml
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

feat: Add PostGIS playground deployment and helper scripts (#1096)
  .github/workflows/analysis.yml
  .trivyignore
  common/postgis-playground/Dockerfile
  common/postgis-playground/README.md
  common/postgis-playground/deployment.yml
  common/postgis-playground/openshift.postgis-playground.yml
  common/postgis-playground/pvc.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

fix: Exclude postgis-playground from Trivy scan
  .github/workflows/analysis.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu
