Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

feat(#854): add milestone to opening stocking standard details
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsStockingDetailsDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsStockingDetailsMilestoneDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/opening/OpeningStockingMilestoneProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/enums/StockingMilestoneTypeEnum.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/repository/OpeningRepository.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsStockingService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add stocking standard details milestone DTO
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test(#854): add milestone stocking standard endpoint and service tests
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/oracle/service/OpeningServiceIntegrationTest.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: fix tab
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add extent declaration to stocking standard milestone
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsStockingDetailsMilestoneDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/opening/OpeningStockingMilestoneProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsStockingService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add milestone component
  frontend/src/components/OpeningDetails/OpeningStandardUnits/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: cover table integration
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/constants.ts
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/styles.scss
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: polygon
  combiner.py
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/PolygonDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/index.tsx
  frontend/src/utils/DateUtils.ts
Owners: @paulushcgcj, @craigyu, @Abradat, @carolinemwood

fix: remove combiner
  combiner.py
Owners: @paulushcgcj, @craigyu, @Abradat

feat: add scenarios for dashboard navigation and silviculture search
  playwright/src/features/dashboard.feature
  playwright/src/features/silviculture-search.feature
Owners: @paulushcgcj, @craigyu, @Abradat

feat: add Playwright tests for dashboard navigation and silviculture search
  playwright/src/tests/sample.spec.ts
Owners: @paulushcgcj, @craigyu, @Abradat

feat: improve test content generation by adding spacing and importing step types
  playwright/src/generated/.gitkeep
  playwright/src/setup/cucumber.setup.ts
Owners: @paulushcgcj, @craigyu, @Abradat

chore: adding some ids to make field identification easier
  frontend/src/components/FavouriteCard/index.tsx
  frontend/src/components/SilvicultureSearch/OpeningSearch/OpeningSearchBar.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: add form steps and enhance assertion steps for improved Playwright testing
  playwright/src/steps/assertions.steps.ts
  playwright/src/steps/form.steps.ts
  playwright/src/steps/index.ts
  playwright/src/steps/navigation.steps.ts
  playwright/src/steps/stepTypes.ts
Owners: @paulushcgcj, @craigyu, @Abradat

ci: remove frontend coverage tests and update E2E workflow for Playwright
  .github/workflows/e2e.yml
  playwright/src/generated/.gitkeep
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @Abradat

docs: add comprehensive README for automated end-to-end testing with Playwright and Cucumber
  playwright/README.md
Owners: @paulushcgcj, @craigyu, @Abradat

feat: update dependency installation to include Playwright Chromium
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: downgrade Playwright image to v1.52.0-noble for compatibility
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

chore: add health check mappings for service availability on wiremock
  frontend/stub/mappings/fam.json
  frontend/stub/mappings/health.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: integrate wiremock for backend stubbing and update scripts documentation
  frontend/docs/scripts.md
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: refactored wiremock stubs to simplify it
  frontend/stub/mappings/codes.json
  frontend/stub/mappings/openings-details.json
  frontend/stub/mappings/openings-favourites.json
  frontend/stub/mappings/openings-map.json
  frontend/stub/mappings/openings-recent.json
  frontend/stub/mappings/openings-search.json
  frontend/stub/mappings/users-submission-trends.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test: update PageTitle tests for consistency and remove experimental tag
  frontend/src/__test__/components/PageTitle.test.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add opening and stocking standards notifications
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/SilvaOracleQueryConstants.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsNotificationDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpoint.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/entity/opening/OpeningStockingNotificationProjection.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/enums/OpeningDetailsNotificationStatusEnum.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/repository/OpeningRepository.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsStockingService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add description and NR status to milestone type
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/enums/StockingMilestoneTypeEnum.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add opening notifications OpenAPI DTO and endpoints
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add opening notifications endpoint and service
  frontend/src/services/OpeningDetailsService.ts
  frontend/src/services/apiConfig.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): create opening details notification service
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/endpoint/OpeningEndpoint.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsNotificationService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsService.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsStockingService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add notifications to opening details tombstone DTO
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/dto/opening/OpeningDetailsTombstoneOverviewDto.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/conversion/opening/OpeningDetailsTombstoneConverter.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsTombstoneService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): update OpenAPI opening notification DTO
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: unmapped area
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/UnmappedArea.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/ForestManagement/index.tsx
  frontend/src/components/OpeningDetails/OpeningForestCover/ForestCoverExpandedRow/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: use our own code gen
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#854): add notifications component to opening details page
  frontend/src/components/OpeningDetails/OpeningNotifications/definitions.ts
  frontend/src/components/OpeningDetails/OpeningNotifications/index.tsx
  frontend/src/components/OpeningDetails/OpeningNotifications/styles.scss
  frontend/src/screens/Openings/OpeningDetails/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(sec:CVE-2025-48988|CVE-2025-49125): update Tomcat dependencies to version 10.1.42
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: remove unused Tomcat embed dependencies from pom.xml
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(sec:CVE-2025-49146): add PostgreSQL dependency version 42.7.7
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(deps): simplifying dependency management
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(sec:CVE-2025-41234): add spring-web and spring-webmvc dependencies with version 6.2.8
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(sec:CVE-2025-5889): update brace-expansion to version 2.0.2 in package.json and package-lock.json
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(sec): fixing CVE issues (#869)
  backend/pom.xml
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore(ci): fix Java cloud native double build
  backend/Dockerfile
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
