Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

fix: wait
  frontend/playwright.config.ts
  frontend/src/__e2e__/auth/auth.setup.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: comment job out
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: remove needs
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: debug
  .github/workflows/pr-open.yml
  frontend/src/__e2e__/auth/auth.setup.ts
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

fix remove needs
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update pr-open.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

chore: add spring boot dev tools to enable hot reload
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Update auth.setup.ts
  frontend/src/__e2e__/auth/auth.setup.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Update auth.setup.ts
  frontend/src/__e2e__/auth/auth.setup.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: forgot to add env 🤦‍♂️
  .github/workflows/.deploy.yml
  frontend/src/__e2e__/auth/auth.setup.ts
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

feat: separate e2e workflows
  .github/workflows/.deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update .deploy.yml
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: workflow
  .github/workflows/e2e.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update pr-open.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: add secrets inherit
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: update merge file to include e2e
  .github/workflows/merge.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: inherit place
  .github/workflows/e2e.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: route output
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

feat(#800): enable hot reload for backend application (#810)
  backend/pom.xml
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: add filterable property to map layers and update extraParameters function
  frontend/src/components/OpeningsMap/constants.ts
  frontend/src/components/OpeningsMap/index.tsx
  frontend/src/types/MapLayer.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: add filterable property to map layers and update extraParameters (#813)
  frontend/src/components/OpeningsMap/constants.ts
  frontend/src/components/OpeningsMap/index.tsx
  frontend/src/types/MapLayer.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: doc and new struct
  frontend/package.json
  frontend/src/__e2e__/Dashboard.spec.ts
  frontend/src/__e2e__/README.md
  frontend/src/__e2e__/SilvicultureSearch.spec.ts
  frontend/src/__e2e__/_README.md
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

feat: add OpeningsMapDownloader component for KML and GeoJSON downloads
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/components/OpeningsMapDownloader.test.tsx
  frontend/src/components/OpeningsMapDownloader/index.tsx
  frontend/src/components/OpeningsMapEntry/index.tsx
  frontend/src/components/OpeningsMapEntryPopup/index.tsx
  frontend/src/tokml.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#814): Update frontend/src/components/OpeningsMapDownloader/index.tsx
  frontend/src/components/OpeningsMapDownloader/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: update minimatch and minimist versions, and upgrade uglify-js to 2.6.0
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

test: add unmount test for OpeningsMapDownloader component to verify URL revocation
  frontend/src/__test__/components/OpeningsMapDownloader.test.tsx
  frontend/src/components/OpeningsMapDownloader/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: remove e2e from merge
  .github/workflows/merge.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: improve configs
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/__e2e__/auth/auth.setup.ts
  frontend/vite.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: update minimatch to version 8.0.0 and uglify-js to version 3.19.3 in package.json
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: add OpeningsMapDownloader component for KML and GeoJSON downloads (#815)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/components/OpeningsMapDownloader.test.tsx
  frontend/src/components/OpeningsMapDownloader/index.tsx
  frontend/src/components/OpeningsMapEntry/index.tsx
  frontend/src/components/OpeningsMapEntryPopup/index.tsx
  frontend/src/tokml.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: updating package lock
  frontend/package-lock.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add new DTOs and projections for opening activities and comments in SilvaGlobalConfiguration
  backend/src/main/java/ca/bc/gov/restapi/results/common/configuration/SilvaGlobalConfiguration.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsActivitiesService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add new DTOs and projections for opening activities and comments in SilvaGlobalConfiguration
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: remove debug logging from OpeningDetailsActivitiesService
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/service/opening/details/OpeningDetailsActivitiesService.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#799): add OpenAPI schema to enums
  backend/src/main/java/ca/bc/gov/restapi/results/common/enums/ForestClientStatusEnum.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/enums/ForestClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/enums/OpeningCategoryEnum.java
  backend/src/main/java/ca/bc/gov/restapi/results/oracle/enums/OpeningStatusEnum.java
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
