Repository bcgov/nr-silva, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @craigyu, @Abradat, @DerekRoberts, @carolinemwood

.github/CODEOWNERS:

# Matched against repo root (asterisk)
*       @paulushcgcj @craigyu @Abradat

# Matched against directories (e.g. workflows)
/.github/workflows/ @paulushcgcj @DerekRoberts @craigyu
/frontend @carolinemwood @paulushcgcj @craigyu @Abradat
/backend @carolinemwood @paulushcgcj @craigyu @Abradat

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

fix: refactor geolocation fallback to use defaultLocation constant
  frontend/src/__test__/components/OpeningMaps.fetcher.test.tsx
  frontend/src/components/OpeningsMap/constants.ts
  frontend/src/components/OpeningsMap/fetcher.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: add unit meter to ssu species def-tooltip (#796)
  frontend/src/components/OpeningDetails/OpeningStandardUnits/SpeciesTooltipList.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): add openapi-typescript dependency
  frontend/package-lock.json
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): replace node to bundler for moduleResolution
  frontend/src/types/amplify.ts
  frontend/tsconfig.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: add SVG files for map layers and marker; update styles and icon URLs
  frontend/public/map-layers.svg
  frontend/public/marker.svg
  frontend/src/components/OpeningsMap/styles.scss
  frontend/src/components/OpeningsMapEntry/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): add OpenAPI type generation command
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): add OpenAPI generated types
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: add todo for noUncheckedIndexedAccess type check
  frontend/tsconfig.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#648): updating map (#780)
  backend/src/main/java/ca/bc/gov/restapi/results/common/endpoint/OpeningMapsEndpoint.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/service/OpenMapsService.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/endpoint/OpeningMapsEndpointIntegrationTest.java
  backend/src/test/java/ca/bc/gov/restapi/results/common/service/OpenMapsServiceIntegrationTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/public/map-layers.svg
  frontend/public/marker.svg
  frontend/src/__test__/components/OpeningMaps.fetcher.test.tsx
  frontend/src/__test__/components/OpeningMaps.test.tsx
  frontend/src/components/OpeningDetails/OpeningSummary/index.tsx
  frontend/src/components/OpeningsMap/constants.ts
  frontend/src/components/OpeningsMap/fetcher.ts
  frontend/src/components/OpeningsMap/index.tsx
  frontend/src/components/OpeningsMap/styles.scss
  frontend/src/components/OpeningsMapEntry/index.tsx
  frontend/src/components/OpeningsMapEntry/styles.scss
  frontend/src/components/OpeningsMapEntryPopup/index.tsx
  frontend/src/components/OpeningsMapEntryPopup/styles.scss
  frontend/src/components/OpeningsMapFitBound/index.tsx
  frontend/src/components/OpeningsMapFullScreen/constants.ts
  frontend/src/components/OpeningsMapFullScreen/index.tsx
  frontend/src/components/OpeningsMapResizer/index.tsx
  frontend/src/screens/Openings/OpeningDetails/index.tsx
  frontend/src/services/OpeningMapService.ts
  frontend/src/services/apiConfig.ts
  frontend/src/types/MapLayer.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: add openapi-typescript instructions
  frontend/README.md
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix(#771): remove require-trusted-types-for CSP for local
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/HeadersSecurityCustomizer.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): add utility class to detect environment
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/HeadersSecurityCustomizer.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/SecurityEnvironmentUtils.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): explicitly deny OpenAPI and SwaggerUI API on non-local environments
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/ApiAuthorizationCustomizer.java
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): automatically export types when generating from OpenAPI schema
  frontend/README.md
  frontend/package.json
  frontend/src/types/OpenApiTypes.d.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: logged in session for all tests
  frontend/playwright.config.ts
  frontend/src/__e2e__/Dashboard.spec.ts
  frontend/src/__e2e__/Landing.spec.ts
  frontend/src/__e2e__/auth/auth.setup.ts
  frontend/src/__e2e__/auth/auth.teardown.ts
  frontend/src/__e2e__/auth/user.json
  frontend/src/__e2e__/config/AuthTest.ts
  frontend/src/__e2e__/config/global.setup.ts
  frontend/src/__e2e__/screens/Dashboard.spec.ts
  frontend/src/__e2e__/screens/SilvicultureSearch.spec.ts
  frontend/storageState.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): generate types on npm start
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#771): generate TypeScript type definitions from OpenAPI schema (#794)
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/HeadersSecurityCustomizer.java
  backend/src/main/java/ca/bc/gov/restapi/results/common/security/SecurityEnvironmentUtils.java
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/types/OpenApiTypes.d.ts
  frontend/src/types/amplify.ts
  frontend/tsconfig.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#795): render place holder when comments array is empty
  frontend/src/components/Comments/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: remove comments array check
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

chore: reuse Comments component
  frontend/src/components/OpeningDetails/OpeningActivities/DisturbanceDetail.tsx
  frontend/src/components/OpeningDetails/OpeningOverview/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#795): replace comment entries with comments component (#801)
  frontend/src/components/Comments/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/ActivityDetail/index.tsx
  frontend/src/components/OpeningDetails/OpeningActivities/DisturbanceDetail.tsx
  frontend/src/components/OpeningDetails/OpeningOverview/index.tsx
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: stash unworking code
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__e2e__/screens/Dashboard.spec.ts
  frontend/src/__e2e__/screens/SilvicultureSearch.spec.ts
  frontend/src/__e2e__/setup/coverage.ts
  frontend/vite.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat(#581): Implement PreferenceProvider and user preference management
  frontend/src/App.tsx
  frontend/src/__test__/components/BCHeader.test.tsx
  frontend/src/__test__/components/BCHeaderwSide.test.tsx
  frontend/src/__test__/components/SilvicultureSearch/OpeningSearch.test.tsx
  frontend/src/__test__/components/SilvicultureSearch/OpeningSearchBar.test.tsx
  frontend/src/__test__/components/ThemeToggle.test.tsx
  frontend/src/__test__/components/__snapshots__/ThemeToggle.test.tsx.snap
  frontend/src/__test__/contexts/PreferenceProvider.test.tsx
  frontend/src/__test__/screens/SilvicultureSearch.test.tsx
  frontend/src/__test__/utils/localStorageUtils.test.ts
  frontend/src/components/SilvicultureSearch/OpeningSearch/constants.ts
  frontend/src/components/SilvicultureSearch/OpeningSearch/index.tsx
  frontend/src/contexts/PreferenceProvider.tsx
  frontend/src/index.tsx
  frontend/src/types/PreferencesType.ts
  frontend/src/utils/ThemePreference.tsx
  frontend/src/utils/localStorageUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: generate then merge coverage files
  frontend/src/__e2e__/setup/coverage.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

feat: workflow files
  .github/workflows/.deploy.yml
  .github/workflows/analysis.yml
  frontend/package.json
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

fix: import
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__e2e__/setup/coverage.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: scripts
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: build script
  frontend/package.json
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: playwright script
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: env vars
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: deployed vite zone
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

feat: upload dir and vite zone config
  .github/workflows/.deploy.yml
  .github/workflows/analysis.yml
  frontend/openshift.deploy.yml
  frontend/src/contexts/AuthProvider.tsx
Owners: @paulushcgcj, @DerekRoberts, @craigyu, @carolinemwood, @Abradat

feat(#581): Implement PreferenceProvider and user preference management (#806)
  frontend/src/App.tsx
  frontend/src/__test__/components/BCHeader.test.tsx
  frontend/src/__test__/components/BCHeaderwSide.test.tsx
  frontend/src/__test__/components/SilvicultureSearch/OpeningSearch.test.tsx
  frontend/src/__test__/components/SilvicultureSearch/OpeningSearchBar.test.tsx
  frontend/src/__test__/components/ThemeToggle.test.tsx
  frontend/src/__test__/components/__snapshots__/ThemeToggle.test.tsx.snap
  frontend/src/__test__/contexts/PreferenceProvider.test.tsx
  frontend/src/__test__/screens/SilvicultureSearch.test.tsx
  frontend/src/__test__/utils/localStorageUtils.test.ts
  frontend/src/components/SilvicultureSearch/OpeningSearch/constants.ts
  frontend/src/components/SilvicultureSearch/OpeningSearch/index.tsx
  frontend/src/contexts/PreferenceProvider.tsx
  frontend/src/index.tsx
  frontend/src/types/PreferencesType.ts
  frontend/src/utils/ThemePreference.tsx
  frontend/src/utils/localStorageUtils.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: enable built test
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: built test
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__e2e__/auth/auth.setup.ts
  frontend/src/services/apiConfig.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: base url
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

fix: base url param
  .github/workflows/.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @craigyu

Update playwright.config.ts
  frontend/playwright.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: action timeout
  frontend/playwright.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat

fix: change timeout type
  frontend/playwright.config.ts
Owners: @carolinemwood, @paulushcgcj, @craigyu, @Abradat
